body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size:  16px;	
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	background: #849d8f;
}

.site-wrapper {
	min-width: 1200px;
	background: url('../img/bg1.png') no-repeat top center  #849d8f;
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	-o-transition: background-image 0.5s ease, background-color 0.5s ease;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/bg2.png");
}

.site-wrapper::after {
  background-image: url("../img/bg3.png");
}


.container {
	display: block;
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
   -webkit-clip-path: inset(100%);
           clip-path: inset(100%);
}

img {
	max-width: 100%;
	height: auto;
}

.default-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	display: block;
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	background-color:  rgba(255, 255, 255, 0.2);
	border: none;
	background-image: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus{
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
    linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 #ac1000;
}

.btn:hover {
cursor: pointer;
}

.btn:active {
	  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  box-shadow: inset 0px 2px 2px 0 #942718;
}
/*---------------Шапка-------------*/
.main-header-logo {
	margin-top: 9px;
	margin-right: 10px;
}

.main-navigation,
.navigation-column,
.navigation-actions {
	display: flex;
}

.main-navigation {
	flex-direction: column;
	align-items: flex-end;
}

.internal-page .main-header {
	margin-bottom: 0;
}

.header-contacts {
	margin: 0;
	padding: 0;
	text-align: right;
}

.site-navigation  {
	position: relative;
	display: flex;
	width: 560px;
	flex-wrap: wrap;
	margin-top: 4px;
}
.navigation-column {
	width: 1146px;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	align-items: center;
}
.navigation-actions {
	width: 293px;
	margin-left: auto;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 5px;
}

.site-navigation>li {
	padding-bottom: 5px;
}
.site-navigation>li>a {
	display: block;
	font-size: 16px;
 	line-height: 18px;
 	padding: 8px 14px;
  	font-weight: 700;
	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.3);
}

.site-navigation>li>a:hover,
.site-navigation>li>a:focus {
	text-align: center;
	vertical-align: top;
 	color: #333333;
 	background-color: #f7f6f3;
 	border-radius: 50px;
	text-decoration: none;
	border: none;
}

.site-navigation>li>a:active {
   	background-color: #ededed;
 	box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation-current>a {
	color: #ffffff;
	background-color: #d07058;
	padding: 10px 14px;
	border-radius: 50px;
}

.catalog-entry:hover .catalog-navigation {
	display: block;
}

.catalog-navigation {
	position: absolute;
	top: 38px;
	left: -7px;
	display: none;
	flex-direction: column;
	width: 143px;
	padding-top: 2px;
	padding-bottom: 6px;
  	text-align: left;
  	background-color: #f8f7f4; 
  	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  	z-index: 10; 
  	border-radius: 5px; 
 }

.catalog-navigation a {
	box-sizing: border-box;
	display: block;
	font-size: 14px;
  	line-height: 16px;
   	color: #323232;
   	font-weight: 400;
   	width: 100%;
   	padding: 8px 21px 7px 20px;
   	text-decoration: none;
   	align-items: center;
}

div.catalog-new-under {
	margin: 0 auto;
	width: 128px;
	height: 1px;
	background-color: rgba(50, 50, 50, 0.2);
	margin-bottom: 1px;
	margin-top:5px;
}

.catalog-navigation a:hover {
	background-color: #fbded7;
}

.catalog-navigation a:active {
	background-color: #f6b5a5;
}
.site-navigation-current a:not([href]) {
	color: #ffffff;
	background-color: #d07058;
	border-radius: 0;
}

.catalog-new a {
	font-weight: 700;
}

.header-search {
	position: relative;
	padding-bottom: 5px;
}
.header-search:hover .modal-search {
	display: block;
}

.btn-search {
	position: relative;
	min-width: 32px;
	min-height: 32px;
	background: url(../img/loupe.svg) no-repeat 48% 48% rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 50%;
	box-shadow: none;
}

.btn-search:hover,
.btn-search:focus {
	background: url(../img/loupe_black.png) no-repeat 50% 50% #f8f7f4;
	box-shadow: none;
}

.user-navigation,
.cart-navigation {
	margin-left: 10px;
}

.cart-link,
.login-link {
	display: flex;
	max-width: 120px;
	position: relative;
	padding-bottom: 5px;

} 

.cart-link>a,
.login-link>a {
	display: block;
	font-size: 14px;
	line-height: 16px;
  	font-weight: 500;
  	color: #ffffff;
  	text-decoration: none;
  	border-radius: 33px;
  	border: none;
  	padding: 8px 17px 8px 43px;
}

.login-link>a { 
  	background:  rgba(255, 255, 255, 0.2);
}

a.user-login:hover,
a.user-login:focus,
a.user-login:active { 
  	background: url(../img/login_black.png) no-repeat 20% 50% #f8f7f4;
	color: #323232;
}

a.user-login::before {
	position: absolute;
	content: "";
	width: 21px;
	height: 19px;
	top: 6px;
	left: 15px;
	background: url(../img/login.svg) no-repeat;
}

.login-link:hover a.user-login::before,
.login-link:focus a.user-login::before {
	background: url(../img/login_black.svg) no-repeat;

}

.login-link:hover .modal-login {
	display: block;	
}
.login-button {
	display: flex;
	justify-content: space-between;
}
.login-btn {
	padding: 8px 26px;
	background-image: linear-gradient(to top, #e74a35, #f26843);
  	box-shadow: 0px 1px 2px 0 #ac1000;
  	border-radius: 50px;
}

.for-login-btn {
	display: flex;
	align-items: center;
}

.restore p {
	display: block;
	vertical-align: top;
}

.restore {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 122px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	text-align: left;
	vertical-align: top;
}
.cart-link a{
	background: rgba(255, 255, 255, 0.2);
}

.internal-page .cart-link a{
	color: #323232;
  	background: rgba(255, 255, 255, 1);
}

.cart-link a::before {
	position: absolute;
	content: "";
	width: 21px;
	height: 20px;
	top: 6px;
	left: 15px;
	background: url(../img/cart0.svg) no-repeat;
}

.cart-link:hover .modal-cart {
	display: block;
}

.internal-page .cart-link a::before {
	background: url(../img/cart1.svg) no-repeat;
}

p.header-contacts {
	margin: 0;
	margin-top: -6px;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
}

.header-contacts span{
	display: inline-block;
	font-size: 22px;
	line-height: 24px;
	margin-top: 4px; 
	margin-right:-1px;
	vertical-align: middle;
}

.slider {
	position: relative;
	padding-top: 275px;
	text-align: center;
	color: #ffffff;
}

.promo-proffer h3  {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 31px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.promo-point {
	box-sizing: border-box;
	display: inline-block;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	margin-right: 5px;
	vertical-align: top;
}

.promo-point:hover,
.promo-point:focus {
	background: rgba(248, 247, 244, 0.4);
	cursor: pointer;
}

.promo-point:active {
	background-color: #ffffff;
}

.slider-swiches {
	position: absolute;
	z-index: 50;
	left: 0;
	bottom: 62px;
}
.slide {
	display: none;
}

#proffer1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url('../img/bg1.png');
}

#proffer2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url('../img/bg2.png');
}

#proffer3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url('../img/bg3.png');
}

#proffer1:checked ~ .site-wrapper #slide1,
#proffer2:checked ~ .site-wrapper #slide2,
#proffer3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#proffer1:checked ~ .site-wrapper .promo-point[for="proffer1"],
#proffer2:checked ~ .site-wrapper .promo-point[for="proffer2"],
#proffer3:checked ~ .site-wrapper .promo-point[for="proffer3"] {
	background-color: #ffffff;
}

.promo-btn {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 41px;
	vertical-align: middle;
}

.promo a {
	display: inline-block;
	padding: 10px 42px;	

	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: #ffffff;

	background-color: #f26843;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	background-image: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	border-radius: 50px;
}

.bonus-title {
	margin: 0;
	padding: 0;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 15px;
}

.bonus-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.bonus-item {
	position: relative;
	box-sizing: border-box;
	width: 560px;
	height: 229px;
	border-radius: 15px;
	padding: 16px 21px 24px 18px ;
}

.bonus-list li:first-child {
	background: url(../img/bg-raspberry.jpg) no-repeat #8E001E;
}

.bonus-list li:last-child {
	background: url(../img/bg-choco.jpg) no-repeat #623C33;
}
.bonus-item p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	margin-left: 1px;
}

.bonus-item a {
	display: block;

	position: absolute;
	right: 21px;
	bottom: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
	opacity: 0.99;
	background-image: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	border-radius: 30px;
	padding: 10px 22px 12px 22px;
}


.hits-item img,
.catalog-item img {
	border-radius: 50%;
	position: relative;

}
.hits-list,
.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	 -webkit-box-pack: start;
	    -ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	 -webkit-box-align: start;
	    -ms-flex-align: start;
	align-items: flex-start;
	margin-left:  -26px;
}

.catalog-list {
	margin-bottom: 42px;
}


.hits-list li,
.catalog-list li {
	position: relative;
	box-sizing: border-box;
	width: 267px;
	text-align: center;
	margin-bottom: 38px;
	margin-left: 26px;
}
/*.hits-item:hover::before,
.catalog-item:hover::before {
	content: "";
    position: absolute;
    display: block;
    width: 293px;
    height: 405px;
    margin-top: -6px;
    margin-left: -13px;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
    z-index: 5;
 }*/
.hits-link:hover::before,
.catalog-link:hover::before {
	content: "";
    position: absolute;
    display: block;
    width: 293px;
    
    margin-top: -6px;
    margin-left: -13px;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
    z-index: 5;
    top: 0;
    bottom: -75px;
 }

.hits-list a:hover,
.catalog-item a:hover {
	z-index: 20;
}

.hits-btn {
	position: absolute;
    left: 132px;
    display: none;
    margin: 8px 10px 10px -101px;
    text-align: center;
    background-color: #e84d37;
    padding: 10px 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    background-image: linear-gradient(to top,#ca3824 0%,#f26843 100%);
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(85,8,0,.54);
    cursor: pointer;
    
} 

.hits-list li {
	margin-bottom: 40px;
}

/*.hits-list a:hover */

/*.hits-list li {
	margin-top: -10;
	position: absolute;
	top: -10px;
	left:-10px;
	box-sizing: border-box;
	width: 287px;
	padding: 10px 10px 100px;
	text-align: center;
	z-index: 10;	
}*/
.hits-btn {
	display: none;

}

.catalog-item:hover .hits-btn,
.hits-item:hover .hits-btn {
	display: block;
	z-index: 5;
}


.hits h3,
.catalog h3,
.hits p,
.catalog p {
	margin: 0;
	padding: 0;
}

.hits-item h3,
.catalog-item h3 {
	display: inline;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	
	/*margin-left: 5px;
	margin-right: 5px;*/
	/*-webkit-text-decoration-color: rgba(255, 255, 255, 0.3);*/
	/*text-decoration-color: rgba(255, 255, 255, 0.3);*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.hits-image,
.catalog-image {
	margin-bottom:  8px;
}


.hits-item a,
.catalog-item a {
	display: block;
	text-decoration: none;
	
	cursor: pointer;
}

.hits-item p {
	position: absolute;
	top: 210px;
	left: 0;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #ffffff;
  	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  	
}

.catalog-item p {
	position: absolute;
	top: 210px;
	left: 0;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #ffffff;
  	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  	
}

.hits-item span,
.catalog-item span {
	margin-left: 3px;
	font-size: 30px;
}


img.hits-hit {
	position: absolute;
	width: 61px;
	height: 61px;
	top: 0;
	left: 0;
	z-index: 30;
}



/*Почему когда в одну ссылку спрятаны текст и картинка 
наведение на текст срабатывает, а фокус не срабатывает???
И вообще, по-моему, это не правильно....*/

/*.hits-item:hover,
.hits-item:focus,
.catalog-item:hover,
.catalog-item:focus {
	
	background: rgba(248, 247, 244, 0.2);
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
} */
/*до сюда не правильно, пока закрыла*/

.about-big {
	box-sizing: border-box;
	/*margin: 0 auto;*/
	width: 1146px;
	height: 306px;
	border-radius: 15px;
	background: url(../img/wafer.jpg) #E8DBBB;
	padding: 26px 20px;
	margin-bottom: 40px;
}

.about-column {
	display: flex;
	flex-wrap: wrap;
}

.about-list {
	display: flex;
	box-sizing: border-box;
	width: 540px;
	flex-direction: column;
	
}
.about-list:first-child {
	margin-right: 26px;
}
.about-item {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	display: block;
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	padding-top: 16px;
	padding-left: 57px;
	padding-bottom: 6px;
}

.about-list:nth-child(1) .about-item:nth-child(1) {
	background: url(../img/i_ice.svg) no-repeat top 3px left;
}

.about-list:nth-child(1) .about-item:nth-child(2) {
	background: url(../img/i_leaf.svg) no-repeat top 3px left;
}

.about-list:nth-child(2) .about-item:nth-child(1) {
	background: url(../img/i_cow.svg) no-repeat top 3px left;
}

.about-list:nth-child(2) .about-item:nth-child(2) {
	background: url(../img/i_therm.svg) no-repeat top 3px left;
}

.about h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
	margin-bottom: 3px;
}

.news-column {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.news h2,
.subscription p {
	margin: 0;
	padding: 0;
}

.news h2 {
	font-size:  16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
	margin-bottom: 4px;
}

.news-item {
	width: 290px;
}

.news a {
	font-size:  24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
}

.news a:hover,
.news a:focus,
.news a:active {
	color: #e84d37;
}
 
.news-block {
	box-sizing: border-box;
	width: 560px;
	height: 220px;
	padding: 24px 20px;
	border-radius: 15px;
	background: url(../img/bg-mintice.jpg) no-repeat top left 143px  #ffffff;
}
.strips {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 560px;
	height: 220px;
	background: url(../img/avia.svg) no-repeat 50% 50%;
	padding: 10px;
	border-radius: 15px;
}

.subscription-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	width: 550px;
	height: 208px;
	background:  #f8f7f4;
	border-radius: 15px;
	padding: 29px 22px 37px;
}

.subscription-form {
	display: flex;
	justify-content: space-between;
		/*border: 1px solid red;  /*Временно*/
}

.subscription p {
	box-sizing: border-box;
	color: #5a5a5a;
}

p.subscription-text {
	margin-bottom: 34px;
}

.subscription-field input {
	display: block;
	box-sizing: border-box;
	width: 368px;
	height: 44px;
	border-radius: 5px;
  	background-color: #ffffff;
  	border: solid 1px rgba(178, 178, 178, 0.52);
  	padding-left: 12px;
}


.subscription-btn {
	color: #fefefe;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
 	border-radius: 30px;
 	background-image: linear-gradient(to top, #e74a35, #f26843);
 	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
 	margin-left: 11px;
 	padding: 9px 19px 11px;

}

div.contacts-map  {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 430px;
	background: url(../img/layer-3.jpg) top -1px left -46px #F7F2DA;
}

.contacts-feedback {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	top: 62px;
	right: 27px;
	width: 302px;
	height: 305px;
	padding: 28px 25px 31px;
	background: #ffffff;
	border-radius: 15px;
}
.contacts-feedback p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

p.contacts-address {
	margin-bottom: 19px;
}

.contacts-feedback b {
	display: inline-block;
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	color: #323232;
	vertical-align: middle;
}

.contacts-feedback a {
	display: block;
	border-radius: 25px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fefefe;
	background-image: linear-gradient(to top, #e74a35, #f26843);
  	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  	padding: 10px 26px 11px;
  	text-decoration: none;
 }
 .contacts-btn {
  	margin-top: auto;
}

 .feedback-btn:hover .modal-feedback {
	display: block;
}

.contacts-marker {
	width: 218px;
	height: 142px;
	position: absolute;
	top: 138px;
	left: 266px;
}

/*-----------------Страница каталога--------------*/

.internal-page h1 {
	margin: 0;
	padding: 0;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 26px;
}

.internal-page {
background: #849d8f;
}

.breadcrumbs {
	display: flex;
	align-items: baseline;
	margin-top: -22px;
	margin-bottom: 2px;
}

.breadcrumbs a {
	margin: 0;
	padding: 0;
	padding-right: 20px;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
}

.breadcrumbs-current {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
}

.filters-form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 23px;
}

.filters fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

 .filters-form .filters-sorting {
	width: 193px;
	margin-right: 14px;
	margin-bottom: 14px;
}

.filters-sorting legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	padding-left: 16px;
	margin-bottom: 5px;
}

.filters-sorting select{
	box-sizing: border-box;
	width: 192px;
	border-radius: 60px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background: rgba(255, 255, 255, 0.2);
	border: none;
	padding-top: 9px;
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 8px;
}

.filters-sorting select:active {
	color: #000000;
	font-size: 16px;
	line-height: 18px;
	background: #ffffff;
	border: none;
}
.filters input {
	width: 100px;
	border: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.2);
}

.filters-form .filters-price {
	width: 220px;
	margin-right: 14px;
	margin-bottom: 14px;
}

.filters-price legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	padding-left: 15px;
	margin-bottom: 5px;
}

.filters-price input[type="text"] {
	border: none;
	background: transparent;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: right;
	width: 27px;
}

.range-controls {
	position: relative;
	box-sizing: border-box;
	width: 220px;
	height: 37px;
	border: 1px solid transparent;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	padding-top: 15px;
	padding-left: 22px;
	padding-right: 22px;	
}

.range-controls .scale {
	box-sizing: border-box;
	height: 4px;
	background: rgba(248, 247, 244, 0.5);
	padding-left: 21px;
	padding-right: 51px;
}

.range-controls .bar {
	height: 4px;
	background: #f8f7f4;
}

.range-controls .toggle {
	position: absolute;
	top: 7px;
  	width: 4px;
  	height: 4px;
  	padding: 0;
  	border: 8px solid #ffffff;
  	background-color: #ababab;
  	border-radius: 50%;
  	cursor: pointer;
}

.range-controls .toggle-min{
	left: 34px;
}
.range-controls .toggle-max{
	left: 133px;
}

.filters-form .filters-fat {
	width: 416px;
	/*border: 1px solid blue;*/
	margin-right: 14px;
	margin-bottom: 14px;

}

.filters-fat legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	padding-left: 15px;
	margin-bottom: 5px;
}

.filters-fat .filters-option {
	position: relative;
	display: block;
	padding-left: 32px;
	margin-right: 18px;
}


.filters-fat .filters-option:last-child {
	margin-right: 0px;
}
.filters-filler label,
.filters-fat label {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.filters-fat label::before {
	content: "";
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/radio-off.png) no-repeat 0 0 ;
}

.fat-radio:checked + label::before {
	background: url(../img/radio-on.png) no-repeat 0 0 ;
}

.filters-fat ul {
	display: flex;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	padding-top: 9px;
	padding-left: 14px;
	padding-right: 15px;
	padding-bottom: 8px; 

}  

.filters-form .filters-filler {
	width: 703px;
	margin-right: 14px;
	margin-bottom: 14px;
}

.filters-filler ul {
	display: flex;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	padding-top: 7px;
	padding-left: 16px;
	padding-right: 15px;
	padding-bottom: 8px; 
}

.filters-filler legend {
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	color: #ffffff;
	padding-left: 15px;
	margin-bottom: 6px;
}

.filters-filler .filters-option {
	position: relative;
	display: block;
	padding-left: 32px;
	margin-right: 21px;
}

filters-option {
	margin-right: 0;
}
.filters-option:last-child {
	margin-right: 0;
}

.filters-filler label::after {
	content: "";
	width: 24px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/checkbox-off.png) no-repeat;
}

.filler-checkbox:checked + label::after  {
	background: url(../img/checkbox-on.png) no-repeat;
}
.filters-button {
	padding-top: 23px;
	margin-bottom: 14px;
}
.filters-btn {
	box-sizing: border-box;
	min-width: 144px;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 30px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	box-shadow: none;
	padding-top: 7px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 7px; 
}
.filters-btn:hover,
.filters-btn:focus {
	color: #323232;
	background: #ffffff;
	box-shadow: none;
}

.filters-btn:active {
	background-color: #ededed;
  	box-shadow: inset 0px 2px 1px 0 #696969;

}
.pagination-block {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 27px;
	margin-bottom: 12px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3) ;
	/*margin-bottom: 49px;*/
}

.pagintion-list {
	display: flex;
	justify-content: space-between;
	width: 190px;
}

.pagination-btn {
	background-color: transparent;
	border: none;
	color: #ffffff;
}

.pagination-btn-back {
	margin-right: 7px;
}

.pagination-btn-next {
	margin-left: 7px;
}

.pagintion-list a {
	display: block;
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
	width: 27px;
	height: 26px;
	text-align: center;
	border-radius: 50%;
}

.pagination-item-current a {
	color: #323232;
	background: #ffffff;
}

.pagintion-list a:hover,
.pagintion-list a:focus {
	background:  rgba(255, 255, 255, 0.2);		
}
.pagintion-list a:active {
	color: #323232;
	background: #ffffff;
}

/*Подвал*/
.main-footer {
	display: flex;
	margin-top: 18px;
	align-items: center;
	padding-bottom: 25px; 
}

.internal-page .main-footer {
	/*margin-top: 15px;*/
}
 
.footer-social {
	width: 293px;
	display: flex;
	flex-wrap: wrap;
	margin-right: 107px;
	padding-top: 14px;
	align-items: center;
	     /*outline: 2px solid blue ; /*Временно*/
}

.social-btn {
	display: flex;
	border: 3px solid rgba(255, 255, 255, 0.5);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 11px;
	justify-content: center;
	align-items: center;
}

.social-btn path {
	fill: rgba(255, 255, 255, 0.8);
}

.social-btn:hover,
.social-btn:active {
	border-color: rgba(255, 255, 255, 0.7);
}
.social-btn:hover path {
	fill: #ffffff;
} 

.social-btn:active path {
	fill: #e9e9e9;
} 

.footer-providers {
	padding-left: 22px;
	margin-top: 7px;
	width: 350px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
		/*outline: 2px solid blue ; /*Временно*/

}
.providers-column li {
	display: block;
	/*outline:  1px solid yellow;*/
}
.footer-providers a {
	margin: 0;
	/*padding-bottom: 4px;*/
	display: inline-block;
	margin-right: 31px;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}
a.providers-btn-main {
	font-weight: 700;

}
.providers-btn-main:before {
	content: "";
	width: 15px;
	height: 13px;
	position: absolute;
	top: 6px;
	left: 1px;
	background: url(../img/heart.svg) ;

}

.footer-copyright {
	width: 190px;
	margin-left: auto;
	padding-left: 12px;
		/*outline: 2px solid blue ; /*Временно*/

}
.internal-page .footer-copyright img {
	margin-left: 2px;
	margin-top: 2px;
}
.footer-copyright img {
	margin-left: 2px;
}
.footer-copyright p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active,
.footer-providers a:hover,
.footer-providers a:focus,
.footer-providers a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;
}

/*.footer-providers li:first-child a {
	font-weight: 700;
}
*/
.footer-copyright a {
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
	text-decoration-color: rgba(255, 255, 255, 0.2);
	width: 190px;
}


/*------------Всплывающие формы------------------*/

::placeholder {
	color: #999999;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.modal {
	z-index: 20;
}


.modal input {
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 5px;
 	border: 2px solid rgba(211, 211, 210, 0.5);
 	color: #323232;
 	font-size: 16px;
 	line-height: 24px;
 	font-weight: 700;
}

.modal-login input::placeholder,
.modal-search input::placeholder {
	color: #999999;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.modal-search input {
	box-sizing: border-box;
	border: 2px solid rgba(211, 211, 210, 0.5);
	width: 311px;
  	height: 44px;
  	padding-left: 12px;			
}

.modal-search {
	position: absolute;
	top: 36px;
	right: 0;
	display: none;
	box-sizing: border-box;
	width: 341px;
  	border-radius: 5px;
  	background-color: #f8f7f4;
  	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  	padding: 19px 15px;
}

.modal-login input {
	box-sizing: border-box;
	width: 241px;
  	height: 44px;
  	padding: 3px 12px;
  	margin-bottom: 20px;
}
.modal-login input[type="password"] {
	margin-bottom: 18px;
}

.modal input:hover,
.modal-feedback textarea:hover { 
	border: solid 2px rgba(154, 154, 154, 0.52);
}

.modal input:focus,
.modal-feedback textarea:focus {
	border: solid 2px rgba(46, 136, 228, 0.52);
}

.modal-search p,
.modal-login p,
.modal-feedback p {
	margin: 0;
}
.modal-login {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	top: 36px;
	right: -2px;
	display: none;
	box-sizing: border-box;
	width: 277px;
	padding: 19px  18px 22px 19px;
   	text-align: center;
  	border-radius: 5.1px;
  	background-color: #f8f7f4;
  	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  	z-index: 30;
}
  
.modal-login a {
	color: #323232;
	font-size: 13px;
	line-height: 24px;
	text-decoration-color: rgba(50, 50, 50, 0.3);
	padding: 0; 
}

.modal-login p {
	padding: 0;
}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active {
	color: #e84d37;
}

.modal-feedback input {
	box-sizing: border-box;
	width: 267px;
	height: 44px;
  	border: solid 2px rgba(178, 178, 178, 0.3);
  	margin-bottom: 20px;
  	padding-left: 12px;
}

.modal-feedback textarea {
	box-sizing: border-box;
	width: 428px;
  	height: 155px;
  	border: solid 2px rgba(178, 178, 178, 0.3);
  	margin-bottom: 20px;
  	padding: 8px 12px;
}

.modal-feedback input::-webkit-input-placeholder {
	font-weight: 400;
	color: #999999;
	font-size: 16px;
	line-height: 24px;

}
.modal-feedback input:-ms-input-placeholder {
	font-weight: 400;
	color: #999999;
	font-size: 16px;
	line-height: 24px;

}
.modal-feedback input::-ms-input-placeholder {
	font-weight: 400;
	color: #999999;
	font-size: 16px;
	line-height: 24px;

}
.modal-feedback input::placeholder {
	font-weight: 400;
	color: #999999;
	font-size: 16px;
	line-height: 24px;

}
.modal-feedback {
	position: fixed;
	top: 339px;
	left: 50%;
	margin-left: -219px;
	display: none;
	box-sizing: border-box;
	width: 478px;
  	border-radius: 10px;
  	background-color: #f8f7f4;
  	color: #323232;
  	padding: 15px 26px 27px 24px;

}

.modal-show {
	display: block;
}

p.feedback-title {
  	font-size: 24px;
  	line-height: 28px;
  	font-weight: 500;
  	margin-bottom: 19px;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 17px;
	width: 18px;
	height: 17px;
	border: none;
	background: url(../img/big.svg) no-repeat 50% 50% #f8f7f4;
}
.modal-close:hover {
	cursor: pointer;
	background: url(../img/big.svg) no-repeat 50% 50% #e74a35;
	outline: 10px solid #e74a35;

}
.feedback-btn {
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	font-weight: 700;
	padding: 10px 23px 11px;
	border-radius: 50px; 
}

.modal-cart {
	position: absolute;
	top: 36px;
	right: 0;
	display: none;
	box-sizing: border-box;
	width: 540px;
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	border-radius: 5px;
  	background-color: #f8f7f4;
 	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
 	padding: 20px 14px 21px 15px;
}

.cart-list tr {
	vertical-align: top;

}
.cart-list {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	/*border-bottom:  1px solid red;*/
}

.cart-item td {
	box-sizing: border-box;
	/*outline: 1px solid blue;*/
	font-size: 13px;
	line-height: 16px;
}
.cart-item {
	/*outline: 2px solid pink;*/

}

.cart-delete {
	width: 20px;
	padding-top: 6px;
	/*padding: 7px 11px 11px 0px;*/
	/*vertical-align:  top;*/
	/*background-color: yellow;*/
}

.row-delete {
	margin: 0;
	padding: 0;
	width: 11px;
	height: 11px;
	background: url(../img/del.svg) no-repeat 0 0 #f8f7f4;
	border: none;
	vertical-align: middle;
	/*outline: 1px solid red;*/
}

.cart-ice {
	width: 46px;
	padding-top: 0px;
	padding-bottom: 17px;
	text-align: center;
	/*padding: 3px */
	/*width: 33px;*/
}
.cart-ice img {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	/*vertical-align: middle;*/
}

.cart-name {
	width: 243px;
	color: #323232;
	padding: 9px 6px;

}
.cart-amount-price {
	width: 120px;
	padding: 9px 10px;
	color: #323232;
}
.cart-price {
	color: #999999;
}
.cart-sum {
	width: 80px;
	padding: 9px 13px;
	color: #333333;

}

.for-button .cart-btn {
	padding: 1px 7px 1px;
	display: block;
	width: 170px;
	height: 44px;
	border-radius:50px;
	color: #fefefe;
	font-size: 18px;
	line-height: 24px; 
}

.cart-total {

	margin-top: 3px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	text-align: right;
	border-top: 1px solid #cacac7;
	padding-top: 14px;
	color: #323232;
}

div.for-button {
	display: flex;
	justify-content: flex-end;
}



